<h1 class="mar-bot"><%=t :privacy %></h1>

<h3>1. Основные понятия</h3>

<p>
  <b>Сайт</b> – сайт, расположенный в сети Интернет по адресу <a href="http://vk.com/">http://vk.com/</a>.
</p>

<p>
  <b>Разработчик</b> – физическое или юридическое лицо, размещающее приложение на Сайте и использующее его в соответствии с Условиями размещения приложений и Правилами размещения приложений на Сайте. Фамилия, имя и отчество либо наименование Разработчика, а также иная информация о нем указаны в разделе &laquo;Информация о разработчике&raquo; в окне запуска Приложения и в настройках Приложения.
</p>

<p>
  <b>Администрация Сайта</b> – общество с ограниченной ответственностью &laquo;В Контакте&raquo;, расположенное по адресу: 191015, Санкт-Петербург, ул. Тверская, д. 8, лит. Б.
</p>

<p>
  <b>Приложение</b> – программный сервис, размещенный Разработчиком на Сайте в разделе &laquo;Приложения&raquo;, прошедший модерацию Администрацией Сайта и включенный в каталог приложений.
</p>

<p>
  <b>Пользователь</b> – пользователь Сайта, зарегистрированный в установленном порядке и использующий Приложение.
</p>

<p>
  <b>Политика</b> – настоящая Типовая политика конфиденциальности разработчиков приложений для Сайта.
</p>

<h3>2. Общие положения</h3>

<p>
  <b>2.1.</b> Настоящая Политика является официальным типовым документом Разработчиков, и определяет порядок обработки и защиты информации о физических лицах, использующих Приложения. Настоящая Политика не распространяет свое действие на Разработчиков, которые опубликовали и применяют свой собственный документ, определяющий политику в отношении обработки персональных данных пользователей.
</p>

<p>
  <b>2.2.</b> Целью настоящей Политики является обеспечение надлежащей защиты информации о пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.
</p>

<p>
  <b>2.3.</b> Отношения, связанные со сбором, хранением, распространением и защитой информации о пользователях, регулируются настоящей Политикой, иными официальными документами Разработчиков и действующим российским законодательством.
</p>

<p>
  <b>2.4</b>. Действующая редакция Политики, являющейся публичным документом, разработана Администрацией Сайта и доступна любому пользователю сети Интернет при переходе по гипертекстовой ссылке &laquo;Политика конфиденциальности разработчика приложения&raquo;.
  Администрация Сайта вправе вносить изменения в настоящую Политику. При внесении изменений в Политику Администрация Сайта уведомляет об этом пользователей путем размещения новой редакции Политики на Сайте по постоянному адресу <a href="https://vk.com/dev/uprivacy">https://vk.com/dev/uprivacy</a> не позднее, чем за 10 дней до вступления в силу соответствующих изменений. Предыдущие редакции Политики хранятся в архиве документации Администрации Сайта.
</p>

<p>
  <b>2.5.</b> Настоящая Политика разработана и используется в соответствии с Правилами пользования сайтом ВКонтакте.ру, размещенными на Сайте по адресу <a href="http://vk.com/terms">http://vk.com/terms</a>, а также Правилами защиты информации о пользователе, размещенными на Сайте по адресу <a href="http://vk.com/privacy">http://vk.com/privacy</a>.
</p>

<p>
  <b>2.6.</b> Используя Приложения, пользователь выражает свое согласие с условиями настоящей Политики.
</p>

<p>
  <b>2.7.</b> В случае несогласия пользователя с условиями настоящей Политики использование Приложений должно быть немедленно прекращено.
</p>

<h3>3.Условия пользования Приложений</h3>

<p>

</p>

<p>

</p>

  <b>3.1.</b> Оказывая услуги по использованию Приложений, Разработчик, действуя разумно и добросовестно, считает, что пользователь: 
    – обладает всеми необходимыми правами, позволяющими ему осуществлять запуск и использование Приложений. 
    – указывает достоверную информацию о себе в объемах, необходимых для пользования Приложений; 
    – осознает, что информация, размещаемая в результате использования пользователем Приложений, может становиться доступной для других пользователей Приложений, может быть скопирована и распространена такими пользователями; 
    – осознает, что некоторые виды информации, переданные им другим пользователям при использовании Приложений, не могут быть удалены самим пользователем; 
    – ознакомлен с настоящей Политикой, выражает свое согласие с ней и принимает на себя указанные в ней права и обязанности.


  <b>3.2.</b> Разработчик не проверяет достоверность получаемой (собираемой) информации о пользователях. 


<h3>4. Цели обработки информации</h3>

<p>
  Разработчик осуществляет обработку информации о пользователях, в том числе их персональных данных, в целях выполнения обязательств Разработчика перед пользователями в отношении использования Приложения.
</p>

<h3>5. Состав информации о пользователях</h3>
<h4>Разработчик обрабатывает информацию о пользователях, которая включает в себя:</h4>

<p>
  <b>5.1.</b> Персональные данные пользователей, предоставляемые Администрацией Сайта с согласия пользователей и необходимые для использования Приложений: имя, фамилия, дата рождения, профильная фотография, список друзей, а также информация, размещаемая пользователем с использованием вкладки &laquo;ред.&raquo; (то есть &laquo;редактировать&raquo;) в разделе &laquo;Моя страница&raquo; на Сайте;
</p>

<p>
  <b>5.2.</b> Дополнительная информация о пользователях, предоставляемая Администрацией Сайта с согласия пользователей, в частности: фотографии, статус, заметки, аудиозаписи, видеозаписи, предложения, вопросы, сообщества, в которых состоит пользователь;
</p>

<p>
  <b>5.3.</b> Информация, предоставляемая пользователями при использовании приложений, в частности, никнэйм.
</p>

<p>
  <b>5.4.</b> Информация, получаемая Разработчиком в результате действий пользователей при использовании Приложений.
</p>

<h3>6. Обработка персональных данных пользователей</h3>

<p>
  <b>6.1.</b> Обработка персональных данных осуществляется на основе принципов:
  а) законности целей и способов обработки персональных данных и добросовестности;
  б) соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Разработчиков;
  в) соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;
  г) недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.
</p>

<p>
  <b>6.1.1.</b> Условия и цели обработки персональных данных
  Разработчик осуществляет обработку персональных данных пользователя с его согласия в целях оказания услуг пользователю по использованию Приложений.
</p>

<p>
  <b>6.1.2.</b> Сбор персональных данных
  Персональные данные пользователя, предусмотренные пунктом 5.1 настоящей Политики, передаются Разработчику Администрацией Сайта с согласия пользователя. Согласие пользователя на передачу его персональных Разработчику предоставляется в форме конклюдентных действий при первой загрузке пользователем Приложения на свою персональную страницу.
  В случае изменения и/или удаления информации, указанной в пунктах 5.1 и 5.2 настоящей Политики, Администрация Сайта уведомляет об этом Разработчика.
</p>

<p>
  <b>6.1.3.</b> Хранение и использование персональных данных
  Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем.
</p>

<p>
  <b>6.1.4.</b> Передача персональных данных
  Персональные данные пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящей Политикой.
  Предоставление персональных данных пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством.
</p>

<p>

</p>

<p>

</p>

<p>

</p>

<p>

</p>

<p>

</p>

<p>

</p>




  





  





  





  





  

  <b>6.1.5.</b> Уничтожение персональных данных



  

  Персональные данные пользователя уничтожаются при: 
    – самостоятельном удалении пользователем информации со своей персональной страницы на Сайте; 
    – самостоятельном удалении пользователем своей персональной страницы на Сайте с использованием функциональной возможности &laquo;удалить свою страницу&raquo;, доступной пользователю в разделе &laquo;Мои настройки&raquo;; 
    – самостоятельном удалении пользователем Приложения со своей персональной страницы на Сайте; 
    – удалении Администрацией Сайта информации, размещаемой пользователем, а также персональной страницы пользователя в случаях, установленных Правилами пользования сайтом VK.com <a href="http://vk.com/terms">http://vk.com/terms</a> (п.п. 6.2.2. и 7.6.).



  <b>6.2.</b> Поскольку Приложения являются одним из средств коммуникации и поддержанием связей со старыми и новыми знакомыми, следующая информация может быть доступна другим пользователям данного Приложения:


  

  <b>6.2.1.</b> фамилия и имя пользователя, 
    <b>6.2.2.</b> профильная фотография пользователя, 
    <b>6.2.3.</b> информация об использовании пользователем Приложения, а также о действиях пользователя при использовании Приложения.

 
Пользователям, имеющим на Сайте статус друзей конкретного пользователя передается информация о факте использования таким пользователем Приложения. 

<h3>7. Права и обязанности пользователей</h3> 

  <b>7.1.</b> Пользователи вправе:

  <b>7.1.1.</b> осуществлять свободный бесплатный доступ к информации о себе посредством загрузки используемых ими Приложений на Сайте;



  

  <b>7.1.2.</b> самостоятельно вносить изменения и исправления в информацию о себе, используя инструментарий персональной страницы пользователя на Сайте, при условии, что такие изменения и исправления содержат актуальную и достоверную информацию;



  

  <b>7.1.3.</b> удалять информацию о себе используя инструментарий персональной странице пользователя на Сайте;



  

  <b>7.1.4.</b> на основании запроса получать от Разработчика информацию, касающуюся обработки его персональных данных. 



<h3>8. Меры по защите информации о пользователях</h3> Разработчик принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий. Описание соответствующих технических и организационно-правовых мер содержится в локальных нормативных актах Разработчика. 

<h3>9. Ограничение действия Политики</h3> Действие настоящей Политики не распространяется на действия и интернет-ресурсы третьих лиц. 
Разработчик не несет ответственности за действия третьих лиц, получивших в результате использования Приложения доступ к информации о пользователе, которая, в силу природы Сайта, доступна любому пользователю сети Интернет. Разработчик рекомендует пользователям ответственно подходить к решению вопроса об объеме информации о себе, размещаемой на Сайте. 

<h3>10. Обращения пользователей</h3> 

  <b>10.1.</b> Пользователи вправе направлять Разработчику свои запросы, в том числе запросы относительно использования их персональных данных, предусмотренные п. 7.1.4 настоящей Политики, в письменной форме по адресу, указанному в разделе &laquo;Настройки&raquo; Приложения, или в форме электронного документа, подписанного квалифицированной электронной подписью в соответствии с законодательством Российской Федерации, по адресу электронной почты, указанному в разделе &laquo;Настройки&raquo; Приложения.


  <b>10.2.</b> Запрос, направляемый пользователем, должен содержать следующую информацию: 
    – номер основного документа, удостоверяющего личность пользователя или его представителя; 
    – сведения о дате выдачи указанного документа и выдавшем его органе; 
    – сведения, подтверждающие участие пользователя в отношениях с Разработчиком (в частности, сведения о загрузке приложения на персональную страницу, никнейм, используемый пользователем при использовании Приложения); 
    – подпись пользователя или его представителя.


  <b>10.3.</b> Разработчик обязуется рассмотреть и направить ответ на поступивший запрос пользователя в течение 30 дней с момента поступления обращения.


  <b>10.4.</b> Вся корреспонденция, полученная Разработчиком от пользователей (обращения в письменной или электронной форме), относится к информации ограниченного доступа и не разглашается без письменного согласия пользователя. Персональные данные и иная информация о пользователе, направившем запрос, не могут быть без специального согласия пользователя использованы иначе, как для ответа по теме полученного запроса или в случаях, прямо предусмотренных законодательством.