<h1 class="mar-bot"><%=t :terms %></h1>

<article>

  <h3>1. Basic Terms</h3>

  <section>

    <p>
      <b>Site</b> — site in the Internet at <a href="http://vk.com/" rel="nofollow" target="_blank">http://vk.com/</a>.
    </p>

    <p>
      <b>Developer</b> — individual or legal entity that places an Application on the Site and uses it according to the Terms for Application Placement and Rules for Application Placement on the Site. Name, last name and patronymic or company name of the Developer and other related information are specified in "About Developer" section in the Application start window and also in Application settings.
    </p>

    <p>
      <b>Site Administration</b> — V Kontakte limited liability company located at: Lit. B, 8, Tverskaya st., Saint Petersburg, 191015
    </p>

    <p>
      <b>Application</b> — software service placed by the Developer on the Site in "Applications" section, which had been moderated by the Site Administration and included into the application catalog.
    </p>

    <p>
      <b>User</b> — duly registered Site user who utilizes the Application.
    </p>

  </section>

  <h3>2. Status of the Rules</h3>

  <section>

    <p>
      <b>2.1.</b> These Rules are an agreement between the Developer and User (collectively referred to as "Parties") and regulate rights and obligations of the Developer and User concerning Application use.
    </p>

    <p>
      <b>2.2.</b> These Rules are an official standard document of Developers. These Rules shall be applied to such relations in case the Developer has not approved and does not use its own Service Rules, and the link to such Rules shall be published for Users in the Application start window and also in Application settings.
    </p>

    <p>
      <b>2.3.</b> Existing revision of the Rules which is a public document has been developed by the Site Administration and is available for all users in the Internet when they click "Service Rules for Application Developer" hyperlink.
      <div class="pull-me">
        <p>
          Site Administration has the right to amend the Rules. When amending the Rules, the Site Administration notifies users by publishing a new revision of the Rules on the Site at the permanent address of <%= link_to "http://#{request.host}"+terms_path+'/', terms_path %> not later than 10 days prior to coming into effect of such amendments. Previous revisions of the Rules are stored in the document archive of the Site Administration.
        </p>
        <p>
          <b>2.3.</b> Provisions of these Rules are a public offer according to Article 437 of the Civil Code of the Russian Federation. The User shall read the Rules in full prior to first start of the Application. When User starts the Application he/she unambiguously accepts these Rules according to Article 438 of the Civil Code of the Russian Federation. Provisions of the Rules can be accepted only in full, with no exceptions.
        </p>
      </div>
    </p>

    <p>
      <b>2.4.</b> After Application start, Users can find the link to these Rules on "About Developer" tab. The User shall check the current version of the Rules in Application settings ever and again in order to be aware of amendments and/or supplements. When User continues to use the Application after such amendments of the Rules have been made, the User accepts and agrees with such amendments and/or supplements.
    </p>

  </section>

  <h3>3. Parties' Rights and Responsibilities</h3>

  <section>

    <p>
      <b>3.1.</b> The User shall read information about the Developer, Developer's confidentiality policy and these Rules prior to first start of the Application. In case the User does not agree with provisions of such documents, the User shall not start and use the Application.
    </p>

    <p>
      <b>3.2.</b> User shall use the Application for personal non-commercial purposes. Services related to Application use shall not be offered to other Users in order to gain profit. Automated scripts (bots) and other means of interaction with the Application without the User are prohibited. Actions to prevent normal operation of the Application and special programs with malicious components (viruses) are prohibited.
    </p>

    <p>
      <b>3.3.</b> The Developer has the right to change Application functionality, its interface and/or content with or without User notification at any time.
    </p>

    <p>
      <b>3.4.</b> The Developer, in its sole discretion, reserves the right to set the cost of individual services the Application offers, in Application internal currency — votes. The User shall use methods of adding User's personal account in the Application and further operate with votes with good faith. In case the Developer detects unauthorized adding to User's personal account in the Application, the Developer has the right to cancel further services for the User or to debit User's personal account in the Application in its sole discretion.
    </p>

    <p>
      <b>3.5.</b> The Developer has the right to request and use information about the User solely for the purposes of Application service provision. Use of information about the User shall be governed by the Developer's confidentiality policy.
    </p>

    <p>
      <b>3.6.</b> The Developer shall provide technical support for the Application and simple communication procedure with Users regarding all issues that may occur during Application use — in "Help" section and in Application settings, on "About Developer" tab.
    </p>

  </section>

  <h3>4. Intellectual Property</h3>

  <section>

    <p>
      <b>4.1.</b> The User agrees that the Application, its interface and content (including but not limited to design elements, text, graphics, images, video, scripts, programs, music, audios and other objects and their compilations related to the Application) are protected with copyright, trademarks, patents and other rights belonging to the Developer or other legitimate rightholders.
    </p>

    <p>
      <b>4.2.</b> The Developer shall provide the User with a non-exclusive license to use the Application: namely, start and further use of the Application only to meet personal, family, home or other non-commercial needs, without the right to transfer the license to third parties and without the right to provide sublicenses for third parties to use the Application.
    </p>

    <p>
      <b>4.3.</b> The User shall not copy, change, delete, rework (including any translation or localization), sell, lease, publish, download or otherwise distribute the Application or its components, decompile or otherwise extract the source code of Application components that are the software, and also change Application functionality without prior written consent of the Developer.
    </p>

    <p>
      <b>4.4.</b> The User shall not delete and/or change any information the Developer has published in the Application, including copyright and personalization symbols.
    </p>

    <p>
      <b>4.5.</b> License specified in Item 4.2 of these Rules shall be provided for the whole period when the User utilizes the Application. This license also covers all updates and/or additional components of the Application that the Developer can provide later.
    </p>

    <p>
      <b>4.6.</b> Unless otherwise stated in the Rules, nothing in the Rules cannot be considered as transfer of exclusive rights for the Application and/or its components to the User.
    </p>

  </section>

  <h3>5. Guarantees and Responsibility</h3>

  <section>

    <p>
      <b>5.1.</b> The User accepts and agrees that the Application is provided "as is." The Developer grants no guarantee regarding consequences of Application use, Application interaction with other software.
    </p>

    <p>
      <b>5.2.</b> The Developer does not guarantee that the Application will suit for specific purposes. The User accepts and agrees that the result of Application use may not meet User's expectations.
    </p>

    <p>
      <b>5.3.</b> The Developer or other rightholders, under no circumstances, shall not be responsible for any indirect, accidental damage (including loss of profit, damaged caused by data loss) suffered due to Application use or inability to use, including Application failure or any other interruption in Application use even if the Developer has warned about or mentioned possibility of such damage.
    </p>

    <p>
      <b>5.4.</b> The User bears own responsibility for how he/she uses the Application, including publication and transfer of information, comments, images and other materials to other Users by means of the Application. The User bears own responsibility for observation of third party rights, applicable laws, these Rules, Developer's rules and/or mandatory instructions published in "Help" section of the Application, when using the Application.
    </p>

    <p>
      <b>5.5.</b> If User infringes, the Developer has the right to cancel further services for the User or fully or partially limit such services with or without User notification.
    </p>

  </section>

  <h3>6. Final Provisions</h3>

  <section>

    <p>
      <b>6.1.</b> The User has the right to discontinue the use of services at any time by removing the Application from his/her personal page on the Site.
    </p>

    <p>
      <b>6.2.</b> The Developer has the right to suspend or stop Application operation at any time with or without User notification.
    </p>

    <p>
      <b>6.3.</b> These Rules are governed and interpreted according to the legislation of the Russian Federation. Issues not covered by the Rules shall be settled according to the legislation of the Russian Federation.
    </p>

    <p>
      <b>6.4.</b> In case of any dispute or difference related to observance of these Rules, the Developer and User shall endeavor best efforts to settle them by means of negotiations therebetween. In case disputes cannot be resolved through negotiations, such disputes shall be settled according to the procedure established by the existing legislation of the Russian Federation.
    </p>

    <p>
      <b>6.5.</b> These Rules have been written in the Russian language and can be provided for review in other language. In case the Russian version of the Rules and version of the Rules in other language differ, provisions of the Russian version of the Rules shall apply.
    </p>

    <p>
      <b>6.6.</b> If, for one reason or another, one or more provisions of these Rules are invalidated, this shall not affect validity and applicability of other provisions.
    </p>

  </section>

</article>