.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-brand {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: bold;
}

.login-menu {
  padding: 15px;
  min-width: 250px;

  li {
    a {
      background-color: none;

      &:focus {
        background-color: none;
      }
    }
  }
}

.jumbotron {
  text-align: center;

  h1 {
    margin-bottom: 0.5em;
  }

  p {
    padding-bottom: 1em;
  }
}

article {
  h3 {
    margin-bottom: 1em;
  }

  section {
    padding-left: 2em;

    p {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 3em;
      }
    }

    .pull-me {
      padding-left: 1em;

      p:last-child {
        margin-bottom: 1em;
      }
    }
  }
}

.mar-bot {
  margin-bottom: 1em;
}