.navbar-static-top {
  margin-bottom: 19px;
}

#login-nav {
  input {
    margin-bottom: 15px;
  }
}

.navbar-brand {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  text-align: center;

  h1 {
    margin-bottom: 0.5em;
  }

  p {
    padding-bottom: 1em;
  }
}